@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    color: white;
    font-family: 'Quicksand', sans-serif;
}

header {
    background: rgb(33, 37, 41);
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
}

nav {
    height: 50px;
}

#bg-1 {
    background-image: url(../img/bg-header.svg);
    background-size: 180vh;
    background-repeat: no-repeat;
    background-position: center;
}

.size-1 {
    width: 70%;
    height: 90vh;
}

.size-1 h1 {
    font-size: 50px;
    width: 70%;
}

.size-1 p {
    width: 70%;
}

#bg-2 {
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#bg-2>div {
    background-image: url(../img/bg-body-2.svg);
    background-size: 175vh;
    background-repeat: repeat-y;
    background-position: center top;
}

#bg-3 {
    background: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#bg-4 {
    background: url(../img/bg-3.png);
    background-repeat: repeat-y;
    background-size: contain;
}